<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>time</key>
            <string>00:00</string>
            <key>content</key>
            <string>大王叫我来巡山</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:03</string>
            <key>content</key>
            <string>作词：赵英俊</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:04</string>
            <key>content</key>
            <string>作曲：赵英俊</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:05</string>
            <key>content</key>
            <string>演唱：贾乃亮,甜馨</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:24</string>
            <key>content</key>
            <string>太阳对我眨眼睛</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:28</string>
            <key>content</key>
            <string>鸟儿唱歌给我听</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:32</string>
            <key>content</key>
            <string>我是一个努力干活儿</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:36</string>
            <key>content</key>
            <string>还不粘人的小妖精</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:40</string>
            <key>content</key>
            <string>别问我从哪里来</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:43</string>
            <key>content</key>
            <string>也别问我到哪里去</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:47</string>
            <key>content</key>
            <string>我要摘下最美的花儿</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:51</string>
            <key>content</key>
            <string>献给我的小公举</string>
        </dict>
        <dict>
            <key>time</key>
            <string>00:57</string>
            <key>content</key>
            <string>大王叫我来巡山</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:01</string>
            <key>content</key>
            <string>我把人间转一转</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:05</string>
            <key>content</key>
            <string>打起我的鼓</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:06</string>
            <key>content</key>
            <string>敲起我的锣</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:08</string>
            <key>content</key>
            <string>生活充满节奏感</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:12</string>
            <key>content</key>
            <string>大王叫我来巡山</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:16</string>
            <key>content</key>
            <string>抓个和尚做晚餐</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:20</string>
            <key>content</key>
            <string>山涧的水</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:22</string>
            <key>content</key>
            <string>无比的甜</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:24</string>
            <key>content</key>
            <string>不羡鸳鸯不羡仙</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:28</string>
            <key>content</key>
            <string>太阳对我眨眼睛</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:31</string>
            <key>content</key>
            <string>鸟儿唱歌给我听</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:35</string>
            <key>content</key>
            <string>我是一个努力干活儿</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:39</string>
            <key>content</key>
            <string>还不粘人的小妖精</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:43</string>
            <key>content</key>
            <string>别问我从哪里来</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:46</string>
            <key>content</key>
            <string>也别问我到哪里去</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:50</string>
            <key>content</key>
            <string>我要摘下最美的花儿</string>
        </dict>
        <dict>
            <key>time</key>
            <string>01:54</string>
            <key>content</key>
            <string>献给我的小公举</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:00</string>
            <key>content</key>
            <string>大王叫我来巡山</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:04</string>
            <key>content</key>
            <string>我把人间转一转</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:07</string>
            <key>content</key>
            <string>打起我的鼓</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:09</string>
            <key>content</key>
            <string>敲起我的锣</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:11</string>
            <key>content</key>
            <string>生活充满节奏感</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:15</string>
            <key>content</key>
            <string>大王叫我来巡山</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:19</string>
            <key>content</key>
            <string>抓个和尚做晚餐</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:23</string>
            <key>content</key>
            <string>山涧的水</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:25</string>
            <key>content</key>
            <string>无比的甜</string>
        </dict>
        <dict>
            <key>time</key>
            <string>02:27</string>
            <key>content</key>
            <string>不羡鸳鸯不羡仙</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:01</string>
            <key>content</key>
            <string>大王叫我来巡山</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:05</string>
            <key>content</key>
            <string>我把人间转一转</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:08</string>
            <key>content</key>
            <string>打起我的鼓</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:10</string>
            <key>content</key>
            <string>敲起我的锣</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:12</string>
            <key>content</key>
            <string>生活充满节奏感</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:16</string>
            <key>content</key>
            <string>大王叫我来巡山</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:20</string>
            <key>content</key>
            <string>抓个和尚做晚餐</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:24</string>
            <key>content</key>
            <string>山涧的水</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:26</string>
            <key>content</key>
            <string>无比的甜</string>
        </dict>
        <dict>
            <key>time</key>
            <string>03:27</string>
            <key>content</key>
            <string>不羡鸳鸯不羡仙</string>
        </dict>
    </array>
</plist>
